@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .t-title {
        font-size: 32px;
    }
}

@media only screen and (max-width: 480px) {
    .t-title {
        font-size: 24px;
    }

    .site-btn,
    .input {
        font-size: 16px;
    }

    .search-person__name {
        font-size: 16px;
    }

    .site-btn--lines:after, 
    .site-btn--lines:before {
        font-size: 60px;
    }

    .input-hld {
        margin: 50px auto 0;
    }

    .section--second {
        margin: 90px 0 0;
    }

    .wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .header {
        padding-bottom: 50px;
    }

}


@media only screen and (max-width: 320px) {}


