* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  background: $c-light;
  font-size: $fz-normal;
}
body {
  background: $c-light;
  color: $c-content;
  font-family: $font;
  transition: all .4s .3s ease-in;
}
body, html{
	min-height: 100vh;
}

*:focus {
  outline: none;
}