.t-subtitle {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 12px;
  letter-spacing: .86px;
  text-transform: uppercase;
  text-align: center;
}

.t-title {
  margin: 0;
  font-size: 42px;
  font-weight: $fw-bold;
  text-align: center;
  line-height: 1.2;
}


.t-accent {
  color: $c-accent;
}


